#valore1{
	background-color: MediumSeaGreen;
}
#valore2{
	background-color: DarkGrey;
}
#valore{
	background-color: LightGrey;
}
#valore,#valore2,#valore1{
    height: 100%;
	width: 92%;
	border-radius: 10px;
	font-size: 150%;
}
table{
	height: 380px;
	width: 100%;
	margin-left: 1%;
}
#testo{
  	height: 100px;
  	width: auto;
  	border: 2px solid;
	margin-left: 4%;
	margin-right: 4%;
	background-color: white;
	border-radius: 8px;
	font-size: 150%;
}	
div{
	border-radius: 10px;
	width: 100%;
	height: 600px;
	background-color: gray;
	border: 2px solid;
}
@media screen and (min-width: 800px) {
	div {
		margin-left:25%;
		width: 50%;
		height: 700px;
	}
	table{
		height: 480px;
	}
}
@media screen and (min-width: 1000px) {
	div {
		height: 100vh;
	}
	table{
		height: 65vh;
	}
}

html {
	height: 100%;
}
body {
	min-height: 100%;
}